body {
	background-color: rgba(200, 200, 200, 0.5);
}

img {
	border-radius: 50%;
}

.container {
	width: 700px;
	margin: 40px auto;
	font-family: helvetica, times new roman;n
}


.card-white {
	background-color: rgba(255, 255, 255, 1.0);
	box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.3);
	padding: 20px;
	margin: 20px;
	text-align: center;
	border-radius: 10px;
}

.container p {
	font-size: 16px;
}

.container h1 {
	font-size: 28px;
	color: rgb(26, 51, 148);
}

.container h2 {
	font-size: 20px;
	color: rgb(26, 51, 148);
}

@media (max-width: 500px){
	.container {
		width: 450px;
	}
}